# Gmail SMTP Configuration
GMAIL_USER=devverge.254@gmail.com
GMAIL_PASS=kgie ntnq dudx ywvg

# Email Configuration
SUPPORT_EMAIL=drive@mojokgroup.xyz
COMPANY_NAME="DriveBackup Pro by Mojok Dev Ke. Solutions"

# Server Configuration
PORT=3000
NODE_ENV=development
